.container {
    h1 {
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }

    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    img {
        width: 16px;
        height: 16px;
    }

    p {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
}
